<section>
  <div
    class="mx-auto w-full lg:px-2 max-w-2xl md:px-12 items-center px-8 py-2">
    <div>
      <div class="text-center max-w-1xl mx-auto">
        <p class="mt-4 text-base lea ding-7 text-slate-500">
          <a href="mailto:a53c.co.za">a@53c.co.za</a>
        </p>
        <br />
          <p>PGP Fingerprint</p>
      </div>
    </div>
    <div>
      <div
        class="text-center max-w-4xl mx-auto">
        <p>
          88F9AFEE0E88286F775E420153348340786731E3
        </p>
      </div>
    </div>
  </div>
</section>

