<section id="services">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Services<span class="lg:block"
            >
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-slate-500 mx-auto">
          Our core focus
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Risk consulting
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            As experienced cyber risk consultants, we help organizations identify, assess, and manage the risks associated with their use of technology. We develop customised strategies for mitigating cyber threats and protecting their valuable data and systems. From vulnerability assessments to incident response planning, oury comprehensive approach ensures that my clients are well-prepared to navigate the ever-evolving landscape of cyber risks.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Strategy
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            As skilled information security strategy consultants, we help organizations develop and implement effective strategies to achieve their goals and stay ahead of the competition. Working closely with our clients, I analyze their unique challenges and opportunities to develop customised solutions that drive growth and success. From market analysis to strategic planning, our comprehensive approach ensures that clients have the tools and insights they need to make informed decisions and achieve their objectives.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Policy
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Wepossess the knowledge and skills to develop and implement robust policies that protect organizations against cyber threats. By conducting in-depth risk assessments and utilizing advanced analytical tools, we can identify potential vulnerabilities and develop specific policies that address the unique needs of each organization. These policies may include technical measures such as network segmentation, intrusion detection and prevention systems, and data encryption. By implementing these policies, organizations can reduce their risk of cyber threats and ensure the security of their information systems.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
