<section id="services">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-white font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Services<span class="lg:block"
            >
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-slate-500 mx-auto">
          Our core focus
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Vulnerabliity assessments
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Our vulnerability assessments are not just a one-time activity. We provide our clients with comprehensive and actionable reports that include detailed findings, recommendations, and remediation steps. We also offer follow-up services to verify the implementation of the solutions and measure the improvement of the security level. Our reports are customized to suit the needs and preferences of our clients, whether they want a high-level overview or a granular analysis. We also adhere to the industry standards and best practices for vulnerability reporting, such as CVSS, OWASP, and NIST.

          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Penetration Testing
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Dark Logic is a leading company in the field of penetration testing, which is the practice of simulating cyberattacks on systems, networks, and applications to identify and exploit vulnerabilities. Penetration testing helps organizations improve their security posture and comply with industry standards and regulations. 53C has a team of highly skilled and certified professionals who use the latest tools and techniques to conduct comprehensive and realistic assessments of the client's security environment. 53C follows a rigorous methodology that covers all phases of the penetration testing process, from planning and scoping to reporting and remediation. Dark Logic also adheres to the highest ethical standards and maintains strict confidentiality and integrity of the client's data. 53C delivers high-quality reports that provide clear and actionable recommendations for improving the client's security level. Dark Logic is the trusted partner for organizations that want to enhance their security and resilience against cyber threats.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Assessments
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Our company is a leading provider of risk assessments for organizations of all sizes and sectors. We help our clients identify, analyze, and manage the risks that affect their business objectives and operations. We use best practices globally, such as the ISO 27000 series of standards, to ensure that our risk assessments are comprehensive, consistent, and aligned with international benchmarks. Our risk assessments cover various domains, such as information security, business continuity, compliance, and governance. We deliver our risk assessments in a clear and concise report that includes recommendations for risk mitigation and improvement. Our company is committed to helping our clients achieve their goals while minimizing their exposure to potential threats.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
