    <section>
        <div
          class="flex relative justify-center lg:px-0 max-h-full md:px-12 overflow-hidden">
          <div
            class="bg-white px-4 relative flex flex-1 flex-col h-screen lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
            <div
              class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
              <div class="flex flex-col">
                <div>
                  <h2
                    class="font-medium leading-tight text-white text-xl font-display">
                    Assessment
                  </h2>


    // write a component that asks 10 questions 
    // this is UK Based Assessment


    <input type="text">Company Name</div>

        
              </div>
            </div>
        </div>
    </div>
</section>