<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-black inline-flex items-center gap-3">
          <svg
            width="100"
            height="100"
            viewBox="0 0 264.58333 264.58333"
            version="1.1"
            id="svg5"
            inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
            sodipodi:docname="logo.svg"
            inkscape:export-filename="logo-2.svg"
            inkscape:export-xdpi="96"
            inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/">
            <sodipodi:namedview
              id="namedview7"
              pagecolor="#ffffff"
              bordercolor="#000000"
              borderopacity="0.25"
              inkscape:showpageshadow="2"
              inkscape:pageopacity="0.0"
              inkscape:pagecheckerboard="0"
              inkscape:deskcolor="#d1d1d1"
              inkscape:document-units="mm"
              showgrid="false"
              inkscape:zoom="1.0104048"
              inkscape:cx="391.42727"
              inkscape:cy="390.93242"
              inkscape:window-width="1920"
              inkscape:window-height="974"
              inkscape:window-x="-11"
              inkscape:window-y="-11"
              inkscape:window-maximized="1"
              inkscape:current-layer="layer1" />
            <defs
              id="defs2">
              <rect
                x="29.39266"
                y="370.90738"
                width="264.53394"
                height="172.15701"
                id="rect5673" />
              <symbol
                id="Delay">
                <title
                  id="title3137">Delay</title>
                <desc
                  id="desc3139">A waiting period.</desc>
                <path
                  d="m 15,35 h 60 a 60,40 0 0 1 0,80 H 15 Z"
                  style="stroke-width:2"
                  id="path3141" />
              </symbol>
              <symbol
                id="And_Gate">
                <title
                  id="title3269">And Gate</title>
                <path
                  d="M 25,70 V 60 50 40 30 h 30 c 11.045695,0 20,8.954305 20,20 0,11.045695 -8.954305,20 -20,20 z"
                  id="path3271" />
              </symbol>
              <symbol
                id="Nand_Gate">
                <title
                  id="title3262">Nand Gate</title>
                <path
                  d="M 25,70 V 60 50 40 30 h 30 c 11.045695,0 20,8.954305 20,20 0,11.045695 -8.954305,20 -20,20 z"
                  id="path3264" />
                <path
                  d="m 80,50 c 0,1.380712 -1.119288,2.5 -2.5,2.5 -1.380712,0 -2.5,-1.119288 -2.5,-2.5 0,-1.380712 1.119288,-2.5 2.5,-2.5 1.380712,0 2.5,1.119288 2.5,2.5 z"
                  id="path3266" />
              </symbol>
            </defs>
            <g
              inkscape:label="Layer 1"
              inkscape:groupmode="layer"
              id="layer1">
<<<<<<< HEAD
              <use
                xlink:href="#And_Gate"
                style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2"
                id="use5550"
                transform="matrix(2.5565512,0,0,3.275403,49.522212,-36.25044)" />
              <rect
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:16.3581;stroke-dashoffset:28.8404"
                id="rect6600"
                width="65.248299"
                height="32.3974"
                x="31.707914"
                y="80.308128" />
              <rect
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:16.3581;stroke-dashoffset:28.8404"
                id="rect6600-1"
                width="65.248299"
                height="32.3974"
                x="31.707914"
                y="147.50275" />
            </g>
=======
            <text
                xml:space="preserve"
                transform="matrix(1.0993402,0,0,1.0993402,-284.72706,-489.7081)"
                id="text500"
                style="font-weight:900;font-size:85.3333px;font-family:Arial;-inkscape-font-specification:'Arial Heavy';white-space:pre;shape-inside:url(#rect502);display:inline;fill:#000000;stroke:#000000;stroke-width:2.48208;stroke-dasharray:none;stroke-dashoffset:28.8404;stroke-opacity:1"><tspan
                  x="270"
                  y="517.15153"
                  id="tspan964"><tspan
                    style="font-weight:bold;font-family:'OCR A Extended';-inkscape-font-specification:'OCR A Extended Bold'"
                    id="tspan962">53C</tspan></tspan></text>
          </g>
          <metadata
              id="metadata1508">
            <rdf:RDF>
              <cc:Work
                  rdf:about="">
                <dc:title>53C logo</dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
        </svg>
        <a>
          <span class="font-bold font-display">Information Security Consulting</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-slate-400 hover:text-black focus:outline-none focus:text-black lg:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
>>>>>>> parent of ae4dcaf (dark mode and simplified website)
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#about">About</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#services">Services</a
        >
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#pricing">Pricing</a
      >
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#contact">Contact</a
        >

        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/register"
            class="block px-4 py-2 mt-2 text-sm font-medium text-black md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Register
          </a>
          <a
            href="/login"
            class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-black bg-slate-100 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-slate-50 active:bg-slate-200 active:text-accent-400 focus-visible:outline-black">
            Log in
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
